<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Student</title>
  <style>
    body
    {
      text-align: center;
      font-family: sans-serif;
      color:green ;
      margin-top: 10px;
    }
   
  </style>
</head>
<body>
  <form method="POST"  action="{% url 'savestudent' %}" encytype="multipart/form-data">
    {% csrf_token %}
    <h1>Add Student</h1>
     
     <label for="studentid">Student Id:</label>
    <input type="text" name="studentid" id="studentid"><br><br>
    <label for="studentname">Student name:</label>
    <input type="studentname" name="studentname" id="studentname"><br><br>
    <label for="groupname">Group name:</label>
    <select id="groupname" name="groupname">
        <option value="select">Select</option>  
        {% for i in d %}
        
        <option value="{{i.group_name}}">{{i.group_name}}</option>  
        {% endfor %}
    </select><br><br>
   
    <label for="locationname">Location name:</label>
    <select id="locationname" name="locationname">
      
        <option value="select">Select</option>  
        {% for j in l %}
        
        <option value="{{j.location_name}}">{{j.location_name}}</option>  
        {% endfor %}
   
    </select> <br><br><br>
    <input type="submit" value="Submit">
    <input type="submit" value="Export to CSV">
    


  
    </form>
</body>
</html>